@model IEnumerable<proyectoFinalCursoAPSNet.Models.Producto>

@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";}

<h1>Índice de productos</h1>

<p>
    <a asp-action="Create">Nuevo producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URLImagen)

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Categoria)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Precio)
    </td>
    <td>
        @{  if (item.URLImagen!=null)
            {
                    <img src='@Html.DisplayFor(modelItem => item.URLImagen)' style="width:250px", height:auto" />
                }
            }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.URLImagen)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
    </td>
</tr>
}
    </tbody>
</table>
